<div class="dashboard-container">
  <h2 class="dashboard-title title">Mecánico - AutoManager</h2>

  <div class="charts-row">
    <div class="chart-box">
      <h5 class="chart-title">Órdenes por Estado</h5>
      <canvas id="statusChart"></canvas>
    </div>

    <div class="chart-box">
      <h5 class="chart-title">Órdenes por Día</h5>
      <canvas id="dailyWorkChart"></canvas>
    </div>

    <div class="chart-box">
      <h5 class="chart-title">Progreso</h5>
      <canvas id="progressChart"></canvas>
    </div>
  </div>
</div>
