<!--Inicio section-->
<section id="inicio" class="py-5">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 animated-photo">
        <img src="assets/img/car.jpg" alt="Carro" />
        <div class="overlay-text">
          <h1 class="text-center title">AutoManager: Conduce tu confianza</h1>
          <p class="lead text-center subtitle">
            Gestión eficiente, servicio confiable y atención para todos:
            clientes, equipo y vehículos.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Services section -->
  <section id="servicios" class="py-5">
    <div class="container py-4">
      <div class="row g-4">
        <div class="col-md-6">
          <div class="card bg-dark text-white shadow animation">
            <div class="card-body">
              <h5 class="card-title">🛠 Misión</h5>
              <p class="card-text">
                Desarrollar e implementar soluciones tecnológicas innovadoras
                para la gestión integral de talleres automotrices, optimizando
                los procesos operativos y administrativos mediante un sistema
                robusto, seguro y escalable que garantice trazabilidad,
                eficiencia y una atención al cliente de alta calidad.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card bg-dark text-white shadow animation">
            <div class="card-body">
              <h5 class="card-title">🔧 Visión</h5>
              <p class="card-text">
                Ser la plataforma líder en gestión de talleres automotrices en
                Latinoamérica, reconocida por su arquitectura moderna,
                confiabilidad, automatización de procesos y capacidad de
                adaptación a las necesidades reales del sector automotriz,
                facilitando la transformación digital del servicio técnico
                vehicular.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="services-container">
      <h2 class="text-center mb-4 title">Servicios</h2>
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="service-card animation">
            <img
              src="assets/img/servicio1.webp"
              class="card-img-top"
              alt="Servicio 1"
            />
            <div class="card-content">
              <h5 class="card-title subtitle">Mantenimiento Preventivo</h5>
              <p class="card-text description">
                Aseguramos el buen estado de tu vehículo con revisiones
                periódicas y cuidado especializado.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="service-card animation">
            <img
              src="assets/img/servicio2.jpg"
              class="card-img-top"
              alt="Servicio 2"
            />
            <div class="card-content">
              <h5 class="card-title subtitle">Reparaciones Especializadas</h5>
              <p class="card-text description">
                Expertos en diagnósticos y reparaciones de alta calidad con
                tecnología avanzada.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="service-card animation">
            <img
              src="assets/img/servicio3.jpg"
              class="card-img-top"
              alt="Servicio 3"
            />
            <div class="card-content">
              <h5 class="card-title subtitle">Atención Personalizada</h5>
              <p class="card-text description">
                Nos enfocamos en las necesidades específicas de cada cliente con
                servicio personalizado.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Contact section-->
<section id="contacto">
  <div class="container py-5 animation">
    <h2 class="text-center mb-4 title">Contacto</h2>
    <p class="text-center subtitle">
      Si tienes alguna pregunta o necesitas más información, no dudes en
      contactarnos.
    </p>
    <div class="text-center">
      <a [href]="generarMailto()" class="btn btn-outline-light btn-lg mt-3">
        📧 Enviar mensaje
      </a>
    </div>
  </div>
</section>

<!--Footer section-->
<footer>
  <div class="container text-center py-4 subtitle">
    <p class="mb-0">© 2025 AutoManager. Todos los derechos reservados.</p>
    <p class="mb-0">
      Desarrollado por Juan Caballero, Merli Ariza, Dayana Hernández
    </p>
  </div>
</footer>
