.dashboard-container {
  padding: 2rem;
  background-color: #1f2937;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  margin-top: 80px;
}

.charts-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.chart-box {
  background: #111827;
  border: 1px solid #374151;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 300px;  
  flex: 1 1 300px;
  box-sizing: border-box;
}


.chart-title {
  color: #d1d5db;
  text-align: center;
  margin-bottom: 0.75rem;
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .chart-box {
    flex: 1 1 45%;  
    max-width: 45%;
  }
}

@media (max-width: 768px) {
  .chart-box {
    flex: 1 1 100%; 
    max-width: 100%;
  }
}
